<%- include('partials/header') -%>
<div class="container">
    <div class="row justify-content-center mt-5">
        <!-- <div class="col-6"> -->
            <div class="card text-bg-light shadow">
                <div class="card-body">
                <div class="mt-5">
                    <h2>ʕ♥ᴥ♥ʔ Add a picture here ʕ♥ᴥ♥ʔ</h2>
                    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                        <div class="mb-3">
                            <label for="imgUpload" class="form-label">Image (•ᴥ• )́</label>
                            <input type="file" class="form-control" id="imageUpload" name="file">
                        </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title (•ᴥ• )́</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description (•ᴥ• )́</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                  
                    <button type="submit" class="btn btn-info position-relative top-0" value="Upload">-`ღ´- Upload -`ღ´-</button> 
                  <!-- <hr> -->
                    </form>
                </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="col-6"></div> -->
    </div>
</div>

<%- include('partials/footer') -%>